# Misc
ADMIN_PASSWD=REDACTED
ADMIN_USER=REDACTED
ADMIN_NAME=REDACTED
# Traefik Info
EMAIL=REDACTED
DOMAIN=REDACTED
SHORT_DOMAIN=REDACTED
CLOUDFLARE_TOKEN=REDACTED
DYNDNS_CLOUDFLARE=REDACTED
CLOUDFLARE_ZONE=REDACTED
CLOUDFLARE_ZONE_YR=REDACTED
# Where you want your TV Shows on your computer
TV_DIR=REDACTED
TV_4K_DIR=REDACTED
# Where you want your Movies on your computer
MOVIE_DIR=REDACTED
MOVIE_4K_DIR=REDACTED
# Where you want your personal videos (your cat, kid, concert, etc...)
MISC_DIR=REDACTED
# Where should your Torrents be downloaded (before getting moved)
TORRENT_TMP_DIR=REDACTED
WATCH_DIR=REDACTED
# Your Timezone
TIMEZONE=REDACTED
# Your VPN Service Info
VPN_USER=REDACTED
VPN_PASSWD=REDACTED
VPN_REGION=REDACTED
# Various info for Doplarr
DISCORD_TOKEN=REDACTED
OVERSEERR_TOKEN=REDACTED
